<!DOCTYPE html>
<html>

<head>
    <title>GustavoDesk</title>
    <link rel="stylesheet" type="text/css"
        href="C:\Users\gustavo.ozorio\OneDrive - PRESTES\Documentos\ProjetoPY-master\app\static\css\home.css"
        media="screen" />
    <link rel="stylesheet" href="/../static/css/home.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <h1>GustavoDesk</h1>
                <button><a href="{{url_for('new_ticket')}}">Novo Chamado</a></button>
                <button><a href="">Dashboard</a></button>

            </ul>
        </nav>
    </header>

    <table>
        <thead>
            <tr>
                <th>Ticket ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Status</th>
                <th>Categoria</th>
                <th>Excluir</th>
            </tr>
        </thead>

        <tbody>

            {% for tupla in lista %}

            <tr>
                
                <td><a href="{{url_for('ticket',numberTicket=tupla.id)}}">{{tupla.id}}</a></td>
                <td>{{tupla.title}}</td>
                <td>{{tupla.description}}</td>
                <td>{{tupla.status_id}}</td>
                <td>{{tupla.category_id}}</td>
                <form method="post" action="{{url_for('excluir',numberTicket=tupla.id)}}"><td><button class="butao" type="submit">Excluir</button></td></form>
            </tr>

            {% endfor %}

        </tbody>
    </table>
    <footer>
        <p>© 2023 GustavoDesk. All rights reserved.</p>
    </footer>
</body>

</html>