<!DOCTYPE html>
<html>

<head>
    <title>Novo Chamado</title>
    <link rel="stylesheet" href="/../static/css/newTicket.css">
        
    </style>
    
</head>

<body>
    <header>
        <nav>
            <ul>
                <button><a href="{{url_for('home')}}">Voltar aos Chamados</a></button>
                <li style="float:right"><a href="#">Logout</a></li>
            </ul>

        </nav>
    </header>
    <h1>Crie novo chamado</h1>
    <form action="{{url_for('cadastrar')}}" method="post">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title"><br>
        <label for="description">Description:</label><br>
        <textarea id="description" name="description"></textarea><br>
        <label for="category_id">Category:</label><br>
        <select id="category_id" name="category_id">
            <option value="">Selecione a categoria</option>
            <option value="hardware">Hardware</option>
            <option value="software">Software</option>
            <option value="network">Network</option>
        </select><br>
        <label for="created_by">Autor:</label><br>
        <input type="text" id="created_by" name="created_by"><br>
        <label for="deadline">Prazo para solução:</label><br>
        <input type="date" id="deadline" name="deadline"><br>
        <input type="submit" value="cadastrar">
    </form>
    <footer>
        <p>© 2023 GustavoDesk. All rights reserved.</p>
    </footer>
    
</body>

</html>