<!DOCTYPE html>
<html>

<head>
    <title>Ticket Details</title>
    <link rel="stylesheet" href="/../static/css/ticket.css">

</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{url_for('home')}}">Home</a></li>
        </nav>

    </header>
    <h1>Detalhes do Chamado</h1>
    
    <form method="POST" action="{{url_for('new_status',numberTicket=ticket.id)}}">
        <div class="ticket-details">

            <h2>Ticket ID:{{ticket.id}}</h2>
            <h3>Title:{{ticket.title}}</h3>
            <p>Description:{{ticket.description}}</p>
            <p>Status:{{ticket.status_id}}</p>
            <select id="status_id" name="status_id">
                <option value="">Selecione o status</option>
                <option value="Em atendimento">Em andamento</option>
                <option value="Resolvido">Resolvido</option>
            </select><br>
            <p>Data Abertura: {{ticket.created_at}} </p>
            <p>Data Fechamento: {{ticket.solved_at}} </p>
            <p>Autor: {{ticket.created_by}} </p>
            <p>Atendente : {{ticket.handled_by}}</p>
            <button type="submit">Salvar</button>
        </div>

    </form>


    </form>
    <footer>
        <p>© 2023 Helpdesk. All rights reserved.</p>
    </footer>
    <script>
        window.onload = function () {
            var now = new Date();
            var month = (now.getMonth() + 1);
            var day = now.getDate();
            if (month < 10)
                month = "0" + month;
            if (day < 10)
                day = "0" + day;
            var today = now.getFullYear() + '-' + month + '-' + day;
            document.getElementById('created_at').value = today;

        }

    </script>
</body>

</html>